newsportal-backend/venv/
newsportal-backend/__pycache__/
newsportal-backend/apps/__pycache__/
newsportal-backend/apps/core/__pycache__/
newsportal-backend/apps/news/__pycache__/
newsportal-backend/apps/notifications/__pycache__/
newsportal-backend/apps/search/__pycache__/
newsportal-backend/apps/users/__pycache__/
newsportal-backend/config/__pycache__/
newsportal-backend/config/settings/__pycache__/
newsportal-backend/db.sqlite3   
