venv
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
*.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
*.swo
*.swn
.env
.env.prd
backend/celerybeat-schedule
backend/celerybeat-schedule
backend/create_superuser.py
docker-compose.dev.yml