__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/
.venv/
db.sqlite3
media/
staticfiles/
*.log
# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
celerybeat.pid.lock