.article-layout {
  max-width: 800px;
  margin: auto;
}

.article-featured-image img {
  width: 100%;
  border-radius: var(--radius);
  margin: 20px 0;
}

.article-content p {
  margin-bottom: 16px;
  font-size: 17px;
}